*.bak
*.out
*.toc
*.gz
*.snm
*.pdf
*.nav
*.log
*.aux
*.sav
*.bbl
*.blg

Chapter3_Implementations/WBC_Tutorial_Implementations.fls

.gitignore_REMOTE_5664
.gitignore_REMOTE_18876
.gitignore_LOCAL_18876
.gitignore_BASE_5664
.gitignore_BASE_18876
.gitignore_BACKUP_5664
.gitignore_BACKUP_18876
.gitignore_LOCAL_5664
Chapter1_Overview/WBC_Tutorial_Overview.synctex.gz(busy)
*.snm
